body {
  background-color: #f5f5f5;
}

.autocomplete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  font-size: 18px;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 6px 12px;
}